body{
    background: url('../images/headerimage.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.annotation,
.contacttitle,
.details,
.projname,
.projdesc,
.subtitle{
font-weight: 300;
}

.aboutMe h2,
.annotation,
.contacttitle,
.description,
.details,
.projdesc,
.projname,
.preview,
.subtitle{
  font-family: 'Raleway', sans-serif;
}

.aboutMe h2,
.annotation,
.description,
.details,
.projdesc,
.preview,
.subtitle{
  color: #fff;
}

.description,
.preview{
  font-size: 1.4em;
  padding:10px;
  font-weight: 300;
  margin-top: 50px;
}

.title,
.aboutMe h2 b{
  font-family: 'Great Vibes', cursive;
  color: #F7941E;
}

.projname,
.contacttitle{
  background-color: #F7941E;
  font-size: 4em;
  padding: 10px;
}

.contacttitle,
.map,
.details{
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacttitle,
.map{
  text-align: center;
}

.title{
  font-size: 19.24em;
  margin-top:300px;
}
.subtitle{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 200px;
}

.aboutMe,
.title-proj {
  margin-top:150px;
  margin-bottom:150px;
}
.aboutMe h2{
  font-size: 6em;
}

.platform-logo{
  width:100%;
}
.projdesc{
  margin-top: 50px;
  font-size: 1.6em;
}

.logo img{
  width: 100%;
}

.annotation{
  border:1px solid #F7941E;
  font-size: 1.4em;
  padding:10px;
}

.cont{
  padding: 50px;
}

.details{
  text-align: right;
}
